@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
    @{
        if(@ViewBag.status==1){
            <div class="form-group">
                    <div class="alert alert-success alert-dismissible fade in show col-md-offset-2 col-md-10">
                    <strong>Success!</strong> @ViewBag.msg
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            </div>
        }
        else if(@ViewBag.status==0){
            <div class="form-group">
                    <div class="alert alert-info in show" role="alert" col-md-offset-2 col-md-10">
                    <strong>Info!</strong> @ViewBag.msg  <a asp-action="EventRegistration">Register</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            </div>
        }
    }
    </div>
    <div class="has-user-generated-content">
        <div class="eds-l-mar-vert-6 eds-l-sm-mar-vert-4 eds-text-bm structured-content-rich-text">
            <div class="eds-text--left">
                <h1>Cyber Event Registration</h1>
            </div>
        </div>
        <div class="eds-l-mar-vert-6 eds-l-sm-mar-vert-4 eds-text-bm structured-content-rich-text">
            <div class="eds-text--left">
                <h1>Quickfacts</h1>
  
                <p></p>
                <h1>Your benefits</h1>
                <ul>
                    <li>Winning teams take home <strong>3.000€</strong> in total!</li>
                    <li>Get in touch with <strong>creative minds</strong> and experts from the industry.</li>
                </ul>
                <h3></h3>
                <h1>FAQ</h1>
                <p><strong>Where does the hackathon take place?</strong></p>
                <p>The Hackathon takes place online. An invitation to a zoom call will be sent out shortly before the start.</p>
              
               
            </div>
        </div>
    </div>
</div>
