@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
    @{
        if(@ViewBag.status==1){
            <div class="form-group">
                    <div class="alert alert-success alert-dismissible fade in show col-md-offset-2 col-md-10">
                    <strong>Success!</strong> @ViewBag.msg
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            </div>
        }
        else if(@ViewBag.status==0){
            <div class="form-group">
                    <div class="alert alert-info in show" role="alert" col-md-offset-2 col-md-10">
                    <strong>Info!</strong> @ViewBag.msg  <a asp-action="EventRegistration">Register</a>
                    <br> Note: Participant must choose one event as a mandate
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            </div>
        }
    }
    </div>
    <div class="has-user-generated-content">
        <div class="eds-l-mar-vert-6 eds-l-sm-mar-vert-4 eds-text-bm structured-content-rich-text">
            <div class="eds-text--left">
             
                <h1><center><b>NIRADHI REGISTRATION</b></center></h1>
            </div>
        </div>
        <div class="eds-l-mar-vert-6 eds-l-sm-mar-vert-4 eds-text-bm structured-content-rich-text">
            <div class="eds-text--left">
               
                <h1>We have created an extremely positive and relaxed environment all geared towards developing your skills whether you are an absolute beginner trying to get off the ground or an accomplished player looking to move to the next level. 
                    <br />Team NIRADHI will provide with all the assistance and resources to help you start from the scratch and be a part of this event

</h1>
  
                <p></p>
                <h1><center><b>PRIZE WINNERS</b></center></h1>
                <ul>
                    <h1>Winning teams take home <strong>400€</strong> in total!</h1>
                    <h1>Get in touch with <strong>Creative Minds</strong> and experts from the industry.</h1>
                
                
  
                <h1><strong><center>EVENT LOCATION</center></strong></h1>
                <h1>The Hackathon takes place online and in-house. <br />An invitation to a zoom call will be sent out shortly before the start for online participants.</h1>
              
               
            </div>
        </div>
    </div>
</div>
